.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.container {
    margin: auto;
}

.err_button {
    font-size: 18px;
    color: #fff;
    width: 18%;
    border-radius: 5px;
    background: #959598;
    border: none;
    font-weight: 600;
    transition: 0.3s ease;
    margin-top: 15px;
    padding: 8px 15px;
}

.err_button:hover {
    background: #757575;
}